*.aux
*.bbl
*.blg
*.log
log
log_*
*.out
.DS_Store
sending-rate.pdf
Release/
Release+Asserts/
Debug/
Debug+Asserts/
Output/
Symnet/
sbt/

big.html

*.o

# commonly used as cmake build directory
/build
build/

cscope.*
*~

*.log
*.sum
*.out
*.status

# In source build files
docs/doxygen.cfg
include/klee/Config/CompileTimeInfo.h
*.config

config.h
site.exp

# Site file for llvm-lit
lit.site.cfg

# Autoconf files
autoconf/aclocal.m4
autoconf/autom4te.cache/
autom4te.cache/

*.bc
klee-out-*
klee-last

# LattE intermidiate files
Check_emp.lp
Check_emp.lps
latte_stats
numOfLatticePoints
numOfUnimodularCones
totalTime

*.rt

protobuf/
p4pktgen/
p4c/
behavioral-model/

paper.pdf
*.gz
*.pcap
*.times

*.pyc
make-rainbow-table
make-rainbow-table-1
make-rainbow-table-2
make-rainbow-table-3
